[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/hugo-theme-techlog-simple"]
	path = themes/hugo-theme-techlog-simple
	url = https://github.com/mazgi/hugo-theme-techlog-simple.git
[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
